<mat-toolbar color ="primary" class="mat-elevation-z8">
  <button mat-button
    *ngIf="sidenav.mode === 'side'" (click)="sidenav.toggle()"
  >
  <mat-icon *ngIf="!sidenav.opened" aria-hidden="false" aria-label="{2:label} icon">menu</mat-icon>
  <mat-icon *ngIf="sidenav.opened" aria-hidden="false" aria-label="{2:label} icon">close</mat-icon>
</button>
Bienvenido al sistema
</mat-toolbar>

<mat-sidenav-container class="side-nav-container ">


  <mat-sidenav  class="side-nav mat-elevation-z8" #sidenav="matSidenav" mode="side" opened="true" >
    <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

    <h4 class="name">John Smith</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/dashboard/inicio">
      <mat-icon  aria-hidden="false" aria-label="{2:label} icon">home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/dashboard/usuarios">
      <mat-icon   aria-hidden="false" aria-label="{2:label} icon">face</mat-icon>
      <span>Clientes</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon  aria-hidden="false" aria-label="{2:label} icon">attach_money</mat-icon>
      <span>Anuncios</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon  aria-hidden="false" aria-label="{2:label} icon">category</mat-icon>
      <span>Categorias</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon  aria-hidden="false" aria-label="{2:label} icon">person</mat-icon>
      <span>Perfil</span>

    </button>
    <mat-divider></mat-divider>

  </mat-sidenav>
  <mat-sidenav-content class="side-nav-container">
    <div class="content mat-elevation-z8">
      <div class="ancho">
        <router-outlet></router-outlet>
      </div>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

