.side-nav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #3f51b5;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
.body {
  height: 83%;
  background-color: aqua;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  font-size: 2rem;
}
.side-nav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  mat-icon {
    margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 80%;
  height: 120px;
  border-radius: 50%;
}

.name {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: white;
}

.ancho {
  width: 100%;
  height: 100%;
  padding: 20px;
}
