.body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  height: 100%;
}
.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}

.logo {
  width: 75%;
}
.ancho {
  width: 80%;
}

.spinner {
  margin: 0 auto;
}
