<div class="body">
 <div class="login">
  <mat-spinner  *ngIf = "loading" class="spinner" diameter=40 ></mat-spinner>
  <form *ngIf="!loading" [formGroup] = "form" (ngSubmit) = "ingresar()">
    <mat-card>
      <img src="./assets/img/user-login.svg" class="logo" >
      <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
      <mat-form-field class="ancho">
        <mat-label>Correo Electrónico</mat-label>

        <input type="text" matInput  formControlName="email">

        <mat-error *ngIf="email()!.errors != null && email()!.errors!.required  " >
          El email es requerido
        </mat-error>

        <mat-error *ngIf="email()!.errors != null && email()!.errors!.email " >
          El email ingresado es incorrecto
        </mat-error>
      </mat-form-field>


      <mat-form-field class="ancho">
        <mat-label >Contraseña</mat-label>
        <input matInput type="password" formControlName="password">

        <mat-error *ngIf="password()!.errors != null && password()!.errors!.required  " >
          La contraseña es requerido
        </mat-error>

        <mat-error *ngIf="password()!.errors != null && password()!.errors!.minlength " >
          La contraseña debe tener mínimo 8 caracteres
        </mat-error>

      </mat-form-field>

      <!--password o email invalid-->
      <mat-error *ngIf="errorMessage.length > 0" >
        {{errorMessage}}
      </mat-error>


      <br>
      <button mat-button class="ancho" mat-raised-button color="primary"
        [disabled]="!form.valid">Iniciar Sesión</button>
    </mat-card>
  </form>
 </div>
</div>
