
<div class="" style="align-content: center; width: 100%;" >
  <h1>Usuarios</h1>
</div>

<div *ngIf="isLoading" class="spinner">
  <mat-spinner></mat-spinner>
</div>


<mat-form-field   appearance="standard">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div  class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
    </ng-container>

    <!-- Apellido Column -->
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
      <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
    </ng-container>

    <!-- Correo Electrónico Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo Electrónico </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <!-- ubicacion Column -->
    <ng-container matColumnDef="ubicacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicación</th>
      <td mat-cell *matCellDef="let row"> {{row.ubicacion}} </td>
    </ng-container>

    <!-- Teléfono Column -->
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
      <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> accion </th>
      <td mat-cell *matCellDef="let row">
        <div style="display: flex; ">
          <div class="button-container">
            <button mat-mini-fab color="primary">
              <mat-icon aria-label="label">search</mat-icon>
            </button>
          </div>
          <div class="button-container" >
            <button mat-mini-fab color="yellow">
              <mat-icon aria-label="label">edit</mat-icon>
            </button>
          </div>
          <div class="button-container" color="warn">
            <button mat-mini-fab >
              <mat-icon aria-label="label">delete</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
</div>


