table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 15%;
}

.spinner {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
}
.button-container {
  padding-right: 8px;
}
